:root {
  --MENU-BORDER: #000000;
  --MENU-COLOR: #171f46;
  --BUTTON-COLOR: #1a1718;

  --BACKGROUND-LINEAR-1: #efe7ff;
  --BACKGROUND-LINEAR-2: #fbfbfb;

  --PRIMARY-COLOR: #6b38fb;
  --GRAY-COLOR: #7e858e;
}
