:root {
  --FONT-FAMILY: "Rubik";
}

p {
  font-family: var(--FONT-FAMILY);
  margin: 0;
  padding: 0;
}

span {
  font-family: var(--FONT-FAMILY);
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}
